.react-calendar-datetime-picker {
  margin: 10px 0;

  .input-picker .input-picker--input {
    height: 56px;
    border-width: 2px;
    border-color: #d4d4d4;
    text-align: left;
    color: black;
  }
}

.rat-AvailableTimes_button svg {
  fill: black;
}

.rat-AvailableTimes_toolbar {
  justify-content: flex-start;
}

svg:hover {
  fill: transparent;
}

.fc-header-toolbar {
  padding: 0 3%;
}

.fc-timegrid-harness .fc-timegrid-event {
  position: relative;
}

.rmdp-input {
  width: 100%;
  height: 56px;
  border-radius: 5px;
  margin: 8px 0;
}

.rbc-calendar {
  height: 100vh !important;
}